<app-filter-tache [taches]="taches" (tacheChange)="taches = $event" [requette]="requette"></app-filter-tache>
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-sm-flex align-items-center mb-4">
          <h4 class="card-title mb-sm-0">Liste des Taches</h4>
          <!--<form class="search-form d-none d-md-block ml-auto mb-3 mb-sm-0"
                [formGroup]="formGroup" (ngSubmit)="searchTache()">
            <div class="input-group">
              <div class="form-inline">
              <label><b>Requette</b></label>
              <ng-select [items]="requette"
                         bindLabel="intitule"
                         bindValue="id"
                         formControlName="requetteId" required>
              </ng-select>
              <label><b>Status tache</b></label>
              <ng-select [items]="itemsStatus"
                         bindLabel="labelS"
                         bindValue="valueS"
                         formControlName="statusTache" required>
              </ng-select>
              </div>
              <button [disabled]="!formGroup.valid" type="submit" class="btn btn-success mt-3">
                <i class="bi bi-search"></i> Chercher
              </button>
            </div>
          </form>-->
          <button type="submit" class="btn btn-success ml-auto mb-3 mb-sm-0"
                  routerLinkActive="active" (click)="openXl(content)">
            <i class="bi bi-list"></i> Créer une tâche
          </button>
          <!--<a class="text-dark ml-auto mb-3 mb-sm-0"
             routerLinkActive="active" (click)="openXl(content)">Creer une tâche</a>-->
        </div>
        <ng-container *ngIf="taches | async">
          <button class="btn btn-sm btn-warning" (click)="exportFilesToExcel()">
            <i class="bi bi-file-pdf-fill"></i>Exporter</button>
          <div class="table-responsive border rounded p-1">
            <table class="table table-hover" id="tableTaches" data-cols-width =" 10,3,40,15,15,80,15,15,10 ">
              <thead>
              <tr>
                <th class="font-weight-bold" data-exclude="true"></th>
                <th class="font-weight-bold" data-f-bold="true" data-a-h="center">Status</th>
                <th class="font-weight-bold" data-f-bold="true" data-a-h="center">ID</th>
                <th class="font-weight-bold" data-f-bold="true" data-a-h="center">Intitulé</th>
                <th class="font-weight-bold" data-f-bold="true" data-a-h="center">Date début prévisionnelle</th>
                <th class="font-weight-bold" data-f-bold="true" data-a-h="center">Date fin prévisionnelle</th>
                <th class="font-weight-bold" data-f-bold="true" data-a-h="center">Observation</th>
                <th class="font-weight-bold" data-f-bold="true" data-a-h="center">Date de début</th>
                <th class="font-weight-bold" data-f-bold="true" data-a-h="center">Date de fin</th>
                <th class="font-weight-bold" data-f-bold="true" data-a-h="center">Collaborateur</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let t of taches | async">
                <td data-exclude="true"><button class="btn btn-sm btn-primary"
                                                (click)="detailsTache(t.id)">
                  <i class="bi bi-view-list"></i> Détails</button>
                </td>
                <td><p class="{{badgeStatus(t.statusTache)}}">{{t.statusTache}}</p></td>
                <td data-t="n">{{t.id}}</td>
                <td>{{t.intitule}}</td>
                <td>{{t.debutPrevisionel | date:"dd/MM/yyyy"}}
                  <label *ngIf="!t.debutPrevisionel">#non_planifiée</label>
                </td>
                <td>{{t.finPrevisionel | date:"dd/MM/yyyy"}}
                  <label *ngIf="!t.finPrevisionel">#non_planifiée</label></td>
                <td>{{t.observation}}</td>
                <td>{{t.dateDebut | date:"dd/MM/yyyy"}}
                  <label *ngIf="!t.dateDebut">#non_planifiée</label></td>
                <td>{{t.dateFin | date:"dd/MM/yyyy"}}
                  <label *ngIf="!t.dateFin">#non_planifiée</label></td>
                <td>{{t.nomCollaborateur}}
                  <label *ngIf="!t.nomCollaborateur">#non_planifié</label></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive border rounded p-1" *ngIf="!taches">
            <p class="card-title text-center">Aucun éléments...</p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <app-create-tache [modal] = modal (actualisation)="actualiser()"></app-create-tache>
</ng-template>
