<form [formGroup]="formGroup">
  <div class="modal-header">
    <h4 class="modal-title">Création du commentaire</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <div class="card-body">
      <div class="form-group">
      <div class="form-group">
        <label for="libelle"><b>Libellé</b></label>
        <textarea class="form-control" id="libelle" rows="4"
                  placeholder="Commentaire" formControlName="libelle"></textarea>
      </div>
    </div>
      <form [formGroup]="fileFG" enctype="multipart/form-data">
        <fieldset>
          <div class="form-group">
            <label for="fichier"><b>Fichier</b></label>
            <input type="file" name="file" id="fichier"
                   class="form-control" formControlName="file" (change)="onFileChange($event)">
          </div>
        </fieldset>
      </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success"
            (click)="creerCommentaire(); clicked = true;" [disabled]="clicked">
      <i class="bi bi-save"></i>
      Créer</button>
    <button type="button" class="btn btn-danger"
            (click)="modal.close('Close click')">
      <i class="bi bi-x-circle"></i>
      Annuler</button>
  </div>
  </div>
</form>
