<ng-container *ngIf="users | async">
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-sm-flex align-items-center mb-4">
            <h4 class="card-title mb-sm-0">Liste des utilisateurs</h4>
            <form class="search-form d-none d-md-block ml-auto mb-3 mb-sm-0"
                  [formGroup]="searchFormGroup" (ngSubmit)="searchUsers()">
              <div class="input-group">
                <div class="form-inline">
                  <input type="text" formControlName="keyword" class="form-control"
                         value="Rechercher des utilisateurs...">
                </div>
                <button type="button" class="btn btn-dark">
                  <i class="bi bi-search"></i>
                </button>
              </div>
            </form>
            <a class="text-dark ml-auto mb-3 mb-sm-0"
               (click)="openCreate(create)" routerLinkActive="active"> Creer un utilisateur</a>
          </div>
          <div class="table-responsive border rounded p-1">

            <table class="table table-hover">
              <thead>
              <tr>
                <th class="font-weight-bold">ID</th>
                <th class="font-weight-bold">Nom utilisateur</th>
                <th class="font-weight-bold">Role</th>
                <th class="font-weight-bold">Client</th>
                <th class="font-weight-bold"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let user of users | async">
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.roles}}</td>
                <td>{{user.nomClient}}</td>
                <td><!--<button class="btn btn-sm btn-primary"
                            (click)="openUpdate(update, user)">
                  <i class="bi bi-pen"></i> Modifier</button>-->
                  </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #create let-modal>
  <app-create-users [modal]="modal" (actualisation)="actualiser()"></app-create-users>
</ng-template>

<ng-template #update let-modal>
  <app-edit-users [modal]="modal" [user]="user" (actualisation)="actualiser()"></app-edit-users>
</ng-template>

