<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <ng-container *ngIf="requettes | async">
    <div class="card-body" *ngIf="requette">
      <div class="text-right">
        <button type="submit" class="btn btn-success ml-auto mb-3 mb-sm-0"
               *ngIf="requette.statusRequette != 'TRAITE'" (click)="openXl(content)">
          <i class="bi bi-list"></i> Créer une Tache</button>
      </div>
      <h4 class="card-title">Détails de la requette</h4>
      <p class="card-description">
        Requettes /<a class="text-info" routerLink="/requettes" routerLinkActive="active">
        Liste des requettes</a> / Détails requette #{{requette.id}}
      </p>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <label>Utilisateur</label>
            </td>
            <td>
              <b>{{requette.username}}</b>
            </td>
            <td>
              <label>Statut</label>
            </td>
            <td>
              <p class="{{badgeStatusRequette(requette.statusRequette)}}">
                {{requette.statusRequette}}</p>
            </td>
          </tr>

          <tr>
            <td>
              <label>Client</label>
            </td>
            <td>
              <b>{{requette.nomClient}}</b>
            </td>
            <td>
              <label>Date de creation</label>
            </td>
            <td>
              <b>{{requette.date_creation | date:"MM/dd/yyyy 'À' h:mma"}}</b>
            </td>
          </tr>

          <tr>
            <td>
              <label>Intitulé</label>
            </td>
            <td>
              <b>{{requette.intitule}}</b>
            </td>
            <td>
              <label>Module</label>
            </td>
            <td>
              <b>{{requette.module}}</b>
            </td>
          </tr>

          <tr>
            <td>
              <label>Fonctionnalité</label>
            </td>
            <td>
              <b>{{requette.fonctionnalite}}</b>
            </td>
            <td>
              <label>Urgence</label>
            </td>
            <td>
              <b>{{requette.urgence}}</b>
            </td>
          </tr>

          <tr>
            <td>
              <label>Observation</label>
            </td>
            <td>
              <b>{{requette.observation}}</b>
            </td>
            <td>
              <label>Type requette</label>
            </td>
            <td>
              <b>{{requette.typeRequette}}</b>
            </td>
          </tr>

          <tr>
            <td colspan="2">
              <label>Fichier</label>
            </td>
            <td colspan="2">
              <a class="text-info" (click)="downloadFile(fileCode)">
                {{fileName}}
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div>
          <div class="text-right">
            <button type="submit" class="btn btn-primary mt-5 ml-auto mb-3 mb-sm-0"
                (click)="modifier(requette.id)">
              <i class="bi bi-pen"></i> Modifier</button>
            <!--<button class="btn btn-danger ml-auto mb-3 mb-sm-0" routerLink="/requettes"
                (click)="delete(requette)">
          <i class="bi bi-trash"></i> Supprimer</button>-->
          </div>
      </div>
    </div>
  </ng-container>
  </div>
</div>

<ng-template #content let-modal>
  <app-content [modal]="modal" [requette]="requette" (actualisation)="actualiserRequette()"></app-content>
</ng-template>
