<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <ng-container *ngIf="requettes | async">
    <div class="card-body" *ngIf="requette">
      <div class="text-right">
        <button type="submit" class="btn btn-success ml-auto mb-3 mb-sm-0"
               *ngIf="requette.statusRequette != 'TRAITE' && this.decodedToken.roles != 'Client'" (click)="openXl(content)">
          <i class="bi bi-list"></i> Créer une Tache</button>
      </div>
      <h4 class="card-title">Détails de la requette</h4>
      <p class="card-description">
        Requettes /<a class="text-info" routerLink="/requettes" routerLinkActive="active">
        Liste des requettes</a> / Détails requette #{{requette.id}}
      </p>
      <button type="submit" class="btn btn-outline-warning ml-auto mb-3 mb-sm-0"
        *ngIf="this.decodedToken.roles != 'Client' && !requette.estimatedStartDate"
        (click)="openXLEstimatedStartDate(contentEstimatedDate)">Date de début prévisionnelle</button>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <label>Utilisateur</label>
            </td>
            <td>
              <b>{{requette.username}}</b>
            </td>
            <td>
              <label>Statut</label>
            </td>
            <td>
              <p class="{{badgeStatusRequette(requette.statusRequette)}}">
                {{requette.statusRequette}}</p>
            </td>
          </tr>

          <tr>
            <td>
              <label>Client</label>
            </td>
            <td>
              <b>{{requette.nomClient}}</b>
            </td>
            <td>
              <label>Date de creation</label>
            </td>
            <td>
              <b>{{requette.date_creation | date:"MM/dd/yyyy 'À' h:mma"}}</b>
            </td>
          </tr>

          <tr>
            <td>
              <label>Intitulé</label>
            </td>
            <td>
              <b>{{requette.intitule}}</b>
            </td>
            <td>
              <label>Module</label>
            </td>
            <td>
              <b>{{requette.module}}</b>
            </td>
          </tr>

          <tr>
            <td>
              <label>Fonctionnalité</label>
            </td>
            <td>
              <b>{{requette.fonctionnalite}}</b>
            </td>
            <td>
              <label>Urgence</label>
            </td>
            <td>
              <b>{{requette.urgence}}</b>
            </td>
          </tr>

          <tr>
            <td>
              <label>Observation</label>
            </td>
            <td>
              <b>{{requette.observation}}</b>
            </td>
            <td>
              <label>Type requette</label>
            </td>
            <td>
              <b>{{requette.typeRequette}}</b>
            </td>
          </tr>

          <tr>
            <td>
              <label>Fichier</label>
            </td>
            <td>
              <a class="text-info" (click)="downloadFile(fileCode)">
                {{fileName}}
              </a>
            </td>
            <td>
              <label>Date de début prévisionnelle</label>
            </td>
            <td>
              <b>{{requette.estimatedStartDate | date:"MM/dd/yyyy"}}</b>
              <label *ngIf="!requette.estimatedStartDate">#non_définie</label>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div>
          <div class="text-right">
            <button type="submit" class="btn btn-primary mt-5 ml-auto mb-3 mb-sm-0"
                (click)="modifier(requette.id); clicked = true;" [disabled]="clicked">
              <i class="bi bi-pen"></i> Modifier</button>
            <!--<button class="btn btn-danger ml-auto mb-3 mb-sm-0" routerLink="/requettes"
                (click)="delete(requette)">
          <i class="bi bi-trash"></i> Supprimer</button>-->
          </div>
      </div>
    </div>
  </ng-container>
  </div>
</div>

<ng-template #content let-modal>
  <app-content [modal]="modal" [requette]="requette" (actualisation)="actualiserRequette()"></app-content>
</ng-template>

<ng-template #contentEstimatedDate let-modal>
  <form class="forms-sample" [formGroup]="formGroup">
  <div class="modal-header">
    <h4 class="modal-title">Date de début prévisionnelle de la requette</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="estimatedStartDate"><b>Date de début prévisionnelle</b></label>
      <input type="date" class="form-control" id="estimatedStartDate"
             placeholder="Date de début prévisionnelle" formControlName="estimatedStartDate">
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success text-left"
            (click)="estimatedStartDate(); clicked2 = true; modal.dismiss('Cross click')" [disabled]="clicked2">
      <i class="bi bi-save"></i>
      Ajouter</button>
    <button type="button" class="btn btn-danger text-right"
            (click)="modal.close('Close click')">
      <i class="bi bi-x-circle"></i>
      Annuler</button>
  </div>
  </form>
</ng-template>
