<ng-container *ngIf="clients | async as listClients">
<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-sm-flex align-items-center mb-4">
          <h4 class="card-title mb-sm-0">Liste des clients</h4>
                  <!-- Recherche des clients -->
              <form class="search-form d-none d-md-block ml-auto mb-3 mb-sm-0"
                [formGroup]="searchFormGroup" (ngSubmit)="searchClients()">
                <div class="input-group">
                  <div class="form-inline">
                    <input type="text" formControlName="keyword" class="form-control"
                           value="Rechercher des clients...">
                  </div>
                    <button type="button" class="btn btn-dark">
                        <i class="bi bi-search"></i>
                    </button>
               </div>
              </form>
                <button type="submit" class="btn btn-success ml-auto mb-3 mb-sm-0"
                        routerLink="/clients/creer" routerLinkActive="active">
                    <i class="bi bi-list"></i> Créer un client
                </button>
                  <!--<a class="text-dark ml-auto mb-3 mb-sm-0"
                     routerLink="/clients/creer" routerLinkActive="active"> Creer un client</a>-->
        </div>
        <div class="table-responsive border rounded p-1">

          <table class="table table-hover">
            <thead>
            <tr>
              <th class="font-weight-bold">ID client</th>
              <th class="font-weight-bold">Nom</th>
              <th class="font-weight-bold">E-mail</th>
              <th class="font-weight-bold">Téléphone</th>
              <th class="font-weight-bold"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let c of clients | async">
              <td>{{c.id}}</td>
              <td>{{c.nom}}</td>
              <td>{{c.email}}</td>
              <td>{{c.tel}}</td>
              <td><button class="btn btn-sm btn-primary"
                                      (click)="infoClient(c.id)">
                <i class="bi bi-pen"></i> Modifier</button>
                <button class="btn btn-sm btn-danger" (click)="deleteClient(c)">
                  <i class="bi bi-trash"></i> Supprimer</button></td>
            </tr>
            </tbody>
          </table>
        </div>
        <!--<div class="d-flex mt-4 flex-wrap align-items-center">
          <p class="text-muted mb-sm-0">Showing 1 to 10 of 57 entries</p>
          <nav class="ml-auto">
            <ul class="pagination separated pagination-info mb-sm-0">
              <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-left"></i></a></li>
              <li class="page-item active"><a href="#" class="page-link">1</a></li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item"><a href="#" class="page-link">3</a></li>
              <li class="page-item"><a href="#" class="page-link">4</a></li>
              <li class="page-item"><a href="#" class="page-link"><i class="icon-arrow-right"></i></a></li>
            </ul>
          </nav>
        </div>-->
      </div>
    </div>
  </div>
</div>
</ng-container>
